use flake
DOTNET_PATH=$(readlink "$(which dotnet)")
SETTINGS_FILE=$(find . -maxdepth 1 -type f -name '*.sln.DotSettings.user' -print -quit)

if [ -z "$SETTINGS_FILE" ] ; then
    SOLUTION_FILE=$(find . -maxdepth 1 -type f \( -name '*.sln' -o -name '*.slnx' \) -print -quit)

    if [ -n "$SOLUTION_FILE" ] ; then
        case "$SOLUTION_FILE" in
            *.slnx)
                SETTINGS_FILE="${SOLUTION_FILE%.slnx}.sln.DotSettings.user"
                ;;
            *.sln)
                SETTINGS_FILE="${SOLUTION_FILE}.DotSettings.user"
                ;;
        esac
    fi
fi

MSBUILD=$(realpath "$(find "$(dirname "$DOTNET_PATH")/../share/dotnet/sdk" -maxdepth 2 -type f -name MSBuild.dll)")

ensure_settings_file () {
    if [ ! -f "$SETTINGS_FILE" ] ; then
        cat > "$SETTINGS_FILE" <<'EOF'
<?xml version="1.0"?>
<wpf:ResourceDictionary xmlns:x="http://schemas.microsoft.com/winfx/2006/xaml" xmlns:s="clr-namespace:System;assembly=mscorlib" xmlns:ss="urn:shemas-jetbrains-com:settings-storage-xaml" xmlns:wpf="http://schemas.microsoft.com/winfx/2006/xaml/presentation" xml:space="preserve">
</wpf:ResourceDictionary>
EOF
    fi
}

edit_settings_file () {
    TMP_FILE=$(mktemp)

    if ! xmlstarlet ed \
        -N wpf="http://schemas.microsoft.com/winfx/2006/xaml/presentation" \
        -N x="http://schemas.microsoft.com/winfx/2006/xaml" \
        -N s="clr-namespace:System;assembly=mscorlib" \
        -N ss="urn:shemas-jetbrains-com:settings-storage-xaml" \
        "$@" \
        "$SETTINGS_FILE" > "$TMP_FILE" ; then
        rm -f "$TMP_FILE"
        return 1
    fi

    mv "$TMP_FILE" "$SETTINGS_FILE"
}

upsert_setting () {
    TYPE_NAME="$1"
    XPATH="$2"
    KEY_NAME="$3"
    VALUE_TEXT="$4"

    if [ "$(xmlstarlet sel \
        -N wpf="http://schemas.microsoft.com/winfx/2006/xaml/presentation" \
        -N x="http://schemas.microsoft.com/winfx/2006/xaml" \
        -N s="clr-namespace:System;assembly=mscorlib" \
        -N ss="urn:shemas-jetbrains-com:settings-storage-xaml" \
        -t \
        -v "count(${XPATH})" \
        "$SETTINGS_FILE")" = "0" ] ; then
        edit_settings_file \
            -s /wpf:ResourceDictionary -t elem -n temp -v "$VALUE_TEXT" \
            -i //temp -t attr -n x:Key -v "$KEY_NAME" \
            -r //temp -v "$TYPE_NAME"
    else
        edit_settings_file \
            --update "$XPATH" \
            --value "$VALUE_TEXT"
    fi
}

if [ -n "$SETTINGS_FILE" ] ; then
    ensure_settings_file

    upsert_setting \
        "s:String" \
        "//s:String[@x:Key='/Default/Environment/Hierarchy/Build/BuildTool/DotNetCliExePath/@EntryValue']" \
        "/Default/Environment/Hierarchy/Build/BuildTool/DotNetCliExePath/@EntryValue" \
        "$(realpath "$(dirname "$DOTNET_PATH")/../share/dotnet/dotnet")"

    upsert_setting \
        "s:Int64" \
        "//s:Int64[@x:Key='/Default/Environment/Hierarchy/Build/BuildTool/MsbuildVersion/@EntryValue']" \
        "/Default/Environment/Hierarchy/Build/BuildTool/MsbuildVersion/@EntryValue" \
        "4294967293"

    upsert_setting \
        "s:String" \
        "//s:String[@x:Key='/Default/Environment/Hierarchy/Build/BuildTool/CustomBuildToolPath/@EntryValue']" \
        "/Default/Environment/Hierarchy/Build/BuildTool/CustomBuildToolPath/@EntryValue" \
        "$MSBUILD"

    upsert_setting \
        "s:String" \
        "//s:String[@x:Key='/Default/Housekeeping/UnitTestingMru/UnitTestRunner/EnvironmentVariablesIndexed/=WOOFWARE_005FDOTNET_005FLOCATOR_005FDOTNET_005FEXE/@EntryIndexedValue']" \
        "/Default/Housekeeping/UnitTestingMru/UnitTestRunner/EnvironmentVariablesIndexed/=WOOFWARE_005FDOTNET_005FLOCATOR_005FDOTNET_005FEXE/@EntryIndexedValue" \
        "$DOTNET_PATH"
fi
